<div class="row">
  <div class="large-6 columns">
    <%= form_for(@message, inline: true) do |f| %>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <aside class="large-6 columns">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </aside>  
    </div>
      <%= f.label :message %>
      <%= f.text_area :message, cols: 40, rows: 10  %>
      <%= f.submit "submit", class: "button radius" %>
    <% end %>
  </div>
</div>
