    <div id=<%="post_#{post.id}"%> >
    <article>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <h6>Written by <a href="#">Owen Kelly</a> on <%= post.created_at.strftime("%B %d, %Y") %></h6>
      <div class="row">
        <div class="large-6 columns">
          <%= post.content %>
        </div>
        <br/>  
      </div>
      <br>
      <p>Replies (<div id=<%="reply_count_#{post.id}"%>></div><%# post.descendants.count %>) | 
      <%= link_to "Reply", new_post_path(parent_id: post), id: "reply#{post.id}", remote: true %></p>
          
    </article>
    <hr/>
    </div>

